body {
  background-color: whitesmoke;
   font-family: "Blinker", sans-serif;
}

li {
  font-size: 20px;
}

h1 {
  font-size: 50px;
  padding-top: 20px;
  padding-left: 30px;
}

ul {
  list-style: none;
}

.currentDate {
  color: aliceblue;
}

.container {
  border: 2px solid #002F75;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  max-width: 700px;
  margin-top: 50px;
  padding: 20px;
  background-image: url("../images/background03.jpg");
  background-size: cover;
  background-position-y: center;
  color: aliceblue;
}

.heading {
  background-color: #639F28;
  border-radius: 40px;
  margin-top: 60px;
  padding: 10px;
  background: rgba(51, 170, 51, .4)
}

.due {
  padding: 20px;
}


.units {
  text-decoration: none;
  font-size: 20px;
} 
.temperature {
  font-size: 50px;
}

.unitsSize {
 position: relative;
 top: -20px;
color: aliceblue;
 font-size: 20px;
}

.weather-temperature .active {
  color:aliceblue;
  cursor: default;
}

.col-12 {
  padding-bottom: 10px;
} 

.currentDate {
  text-align: center;
  color: aliceblue;
  display: block;
  margin: 0 auto;
  font-size: 15px;
}

.humidityAndWind {
font-size: 10px;
position: relative;
left: -50px;
}

.condition {
  text-transform: capitalize;
  font-size: 15px;
}


.form-control {
  border: 1px solid #002F75;
}

.forecast-temp {
  font-size: 20px;
}

.iconAndTemp {
  padding-left: 30px;
}

.codedBy {
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}